@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

:root {
    /* variables */
    --brown: #EE7700;
    --header-height: 80px;
    --primary-text: #000;
    --secondary-text: #F6F6F6;
    --bg-light-blue: rgba(0, 119, 238, 0.08);
}
* {
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    max-width: 100vw !important;
    overflow-x: hidden !important;
    font-family: 'Lato', sans-serif;
    background: #F6F6F6 !important;
}
nav {
    width: 100%;
    padding: 0 40px;
    height: var(--header-height);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
.logo > .eclipse_1 {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 20px;
    left: 40px;
    border-radius: 100%;
    background: var(--brown);
    z-index: 1 !important;
}
.reg-progress {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 700px;
    min-width: 230px;
    margin: 0 auto;
    align-items: center;
}
.progress-wrapper-top {
    display: flex;
    width: 85%;
    align-items: center;
    justify-content: space-between;
}
.progress-wrapper-bottom {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}
.progress-wrapper-top .stage{
   width: 40px;
   height: 40px;
   background: var(--brown);
   border-radius: 50%;
   font-size: 18px;
   font-weight: bold;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
}
.progress-wrapper-top .not-done{
    width: 40px;
    height: 40px;
    background: #CACACA;
    border-radius: 50%;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
 }
.progress-line {
    height: 3px;
    width: calc((100% - 120px) / 2);
    background: #CACACA;
}
.reg-container {
    background: url('../images/world.png');
    background-size: cover;
}
form {
    margin: 30px auto;
    width: 80%;
    max-width: 400px;
}
form h3{
    text-align: center;
    padding: 5px 0;
    font-size: 24px;
}
form p {
    text-align: center;
    padding: 5px 0;
    font-size: 22px;
    color: #555;
}
.custom-input-border {
    width: 100%;
    height: 40px;
    background: #FFF;
    border: 1px solid #CACACA;
    border-radius: 8px;
    position: relative;
}
.input-container {
    margin: 15px 0;
}
.input-container-double {
    display: flex;
    width: 100%;
}
.input-section {
    width: 48%;
    margin: 0 1%;
}
.input-icon {
    position: absolute;
    right: 10px;
    height: 20px;
    top: 10px;
    z-index: 3;
    background-color: white;

}
.input-icon img {
    height: 20px;
}
.input-container label, .input-section label {
    display: inline-block;
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}
.custom-input-border input, .custom-input-border select{
    width: 100%;
    background: transparent;
    border: none;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    color: #555;
}
#add-home-address {
    color: #0077EE;
    cursor: pointer;
}
.submit-container {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submit-container a {
    font-size: 16px;
    color: #0077EE  ;
}
.submit-container button {
    border: none;
    background-color: var(--brown);
    padding: 10px 30px;
    border-radius: 8px;
    color: #FFF;
    font-size: 16px;
    cursor: pointer;
}
@media screen and (max-width: 500px){
    .reg-progress{
        width: 95%;
    }
    .progress-wrapper-bottom {
        font-size: 13px;
    }
}